/* blog page */
.blog{
    background: var(--bg-color);
}
.blog-content{
    display: inline-block;
}
.blog-item{
    width: 30%;
    float: left;
    background: var(--whitecolor);
    transition: 0.5s ease;
    border-radius: 10px;
}
.blog-item:hover{
    transform: scale(1.1);
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item-img img{
    width: 100%;
    border-radius: 10px;

}
.blog-info{
    padding: 20px;
}
.blog-list{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
.blog-list li i{
    color: var(--maincolor);
}
.blog-title{
    margin: 20px 0;
    font-weight: bold;
}
.blog-desc{
    color: var(--graycolor);
    line-height: 1.5;
}
.blog-link{
    color: var(--maincolor);
}